// iMPORTS

// partial files
@import "./partials/colors.scss";
@import "./partials/general.scss";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

// --------
// Reset
// --------

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ----------

header {
  position: absolute;
  width: 100%;
  margin: auto;

  font-family: Lato;

  display: flex;
  justify-content: space-evenly;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;

    li a {
      text-decoration: none;
      color: $clr-white;

      font-size: 0.8rem;
      font-weight: 600;
    }
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}

#hero {
  background-image: url(../images/bkg-hero-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;

  display: flex;
  justify-content: center;

  font-family: Poppins;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 26px;

    h1 {
      font-size: 52px;
      color: $clr-white;
    }

    & span {
      color: $clr-yellow;
      font-size: 0.6em;
    }

    p {
      font-family: Lato;
      color: $clr-white;
      font-weight: 300;
      font-size: 0.8em;

      width: 80%;
      text-align: center;
    }

    & > div {
      display: flex;
      gap: 10px;

      font-family: Lato;
      font-size: 0.8em;

      a {
        text-decoration: none;
        text-align: center;

        color: $clr-white;
        padding: 0.8em;
        width: 13em;
      }
      :first-child {
        background-color: rgba(0, 0, 0, 0.3);
        border: 2px solid $clr-white;
      }
      :last-child {
        background-color: $clr-yellow;
      }
    }
  }
}

#about,
#projects,
#testimonials,
#services,
#latest-news,
#contact,
#tags,
footer {
  font-family: Lato;
}

#counter {
  font-family: Poppins;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 5%;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3em;

    h2 {
      @include h2-style;
    }

    p {
      @include p;

      width: 70%;
    }
  }
}

#projects {
  background: repeating-linear-gradient(
    -45deg,
    rgba(204, 204, 204, 0.5),
    rgba(204, 204, 204, 0.5) 1px,
    rgba(238, 238, 238, 0.5) 1px,
    rgba(238, 238, 238, 0.5) 10px
  );

  div:nth-child(1) {
    padding: 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    h2 {
      @include h2-style;
    }

    p {
      @include p;
    }
  }

  div:nth-child(2) {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;

    @include img-projects;
  }
}

#testimonials {
  color: $clr-white;

  padding: 3%;

  background-image: url(../images/bkg-testimonial.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 20px;

    h2 {
      @include h2-style;
    }

    img {
      object-fit: contain;
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
    div {
      width: 80%;
      padding: 3%;
      text-align: center;

      background: $clr-purple;

      p {
        font-size: 0.8em;
        font-weight: 400;
      }
    }

    p {
      font-weight: 900;
      font-size: 1em;
    }
    :nth-child(5) {
      letter-spacing: 5px;
    }
  }
}

#services {
  padding: 5%;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      text-align: center;

      h2 {
        @include h2-style;
      }

      p {
        @include p;
      }
    }
    :nth-of-type(2) {
      display: flex;
      flex-direction: row;

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      p {
        width: 80%;
      }
      :nth-child(1) {
        h3 {
          color: $clr-coral;
          font-weight: 900;
          font-size: 1.3em;
        }
      }
      :nth-child(2) {
        h3 {
          color: $clr-yellow;
          font-weight: 900;
          font-size: 1.3em;
        }
      }
      :nth-child(3) {
        h3 {
          color: $clr-purple;
          font-size: 1.3em;
          font-weight: 900;
        }
      }
    }
  }
}

#latest-news {
  padding: 5%;
  min-height: 100vh;

  background-color: $clr-gunmetal;

  :nth-child(1) {
    // container
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    p {
      @include p;
    }

    :nth-child(1) {
      // first div with title
      display: flex;
      justify-content: center;
      gap: 20px;

      h2 {
        @include h2-style;
        color: $clr-white;
      }

      a {
        display: flex;
        gap: 5px;
        text-decoration: none;
        color: $clr-white;

        background: $clr-yellow;
        padding: 8px 18px;
        font-size: 0.8em;
        font-weight: 700;

        border-radius: 3px;

        img {
          width: 0.9em;
          object-fit: contain;
        }
      }
    }

    :nth-child(2) {
      // card container
      display: flex;
      flex-direction: row;
      gap: 20px;

      div {
        // card
        display: flex;
        flex-direction: column;

        // height: 500px;

        background: $clr-white;

        img {
          width: fit-content;
          height: 220px;
          object-fit: cover;
        }

        a {
          display: flex;
          flex-direction: row;
          justify-content: center;

          background: none;
          text-decoration: none;
          color: $clr-yellow;

          padding: 0;

          img {
            object-fit: contain;
            width: 1em;
          }
        }

        > div {
          // description div
          display: flex;
          justify-content: center;
          align-items: start;

          padding: 5%;

          text-align: start;

          h3 {
            font-weight: 700;
            font-size: 1.5em;
            color: $clr-grey;

            text-transform: capitalize;
          }
        }
      }
    }
  }
}

#counter {
  background-image: url(../images/bkg-counter.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 3%;

  color: $clr-white;
  text-align: center;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 3em;
      }

      p {
        text-transform: uppercase;
        font-weight: 900;
      }

      &:nth-child(2) {
        border-left: 1px solid $clr-white;
        border-right: 1px solid $clr-white;

        padding: 0 10% 0 10%;
        margin: 0 5% 0 5%;
      }
    }
  }
}

#contact {
  min-height: 100vh;
  padding: 5% 10%;
  width: 100%;

  display: flex;
  justify-content: center;

  > div {
    // container
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: $clr-grey2;

    h2 {
      @include h2-style;
      color: $clr-grey;
    }

    div {
      // information div
      width: 100%;
      display: flex;
      flex-direction: row;
      gap : 20px;

      > div {
        // individual contacts
        display: flex;
        flex-direction: row;

        h5 {
          color: $clr-yellow;
          font-size: smaller;
          font-weight: 400;

          border-right: 1px solid $clr-lightgrey;

          padding: 0 4% 0 0;
          margin: 0 2% 0 0;
        }

        p {
          font-size: 0.8em;
          line-height: 1.5;
        }

        :nth-child(3) {
          // contact icon [+ unwanted subject label]
          display: flex;
          justify-content: end;
          gap: 10px;

        }

        img {
          object-fit: contain;
          width: 0.9em;
        }
      }

      > form {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        // background-color: blue;
        gap: 6px;
        
        > div { // input containter
          display: flex;
          flex-direction: row;
          gap: 10px;

          font-size: 0.9em;

          & div { // label and input div
            display: flex;
            flex-direction: column;
            gap: 6px;

            input {
              border: 1px solid $clr-lightgrey;
              border-radius: 2px;
              padding: 6px;
            }
          }
        }

        :nth-last-child(2) {
          display: flex;
          flex-direction: column;

          textarea {
            border: 1px solid $clr-lightgrey;
            border-radius: 2px;
          }
        }

        :nth-child(3) { // submit div [+unwanted subject]
          display: flex;
          justify-content: end;
        
        [value] { // submit input
          background-color: $clr-yellow;
          border: none;
          border-radius: 4px;
          padding: 1% 6%;
          color: $clr-white;
          
        }
      }
      }
    }
  }
}

#tags {
  padding: 3%;

  background: $clr-jet;

  div {
    display: flex;
    justify-content: space-evenly;
    width: 80%;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: large;
        font-weight: 900;
        color: $clr-white;
      }

      div {
        padding: 5% 0;

        color: $clr-grey2;
        font-size: 0.7em;

        line-height: 2.5;
        p {
          width: 40%;

          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  padding: 2%;
  background-color: darken($clr-jet, 5%);
  color: $clr-white;
  font-size: 0.7em;

  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: $clr-grey2;
  }
}
