
$clr-yellow: #ffb81c;
$clr-coral: #f18b6d;
$clr-purple: #6a4d8a;
$clr-gunmetal: #222f36;
$clr-jet: #292825;
$clr-lightgrey: #d9d9d9;
$clr-grey: #5e5e5e;
$clr-grey2: #919191;

$clr-white: #fff;
$clr-black: #000;